{#
** EPITECH PROJECT, 2020:
** MVC_Rush_PHP
**
** article.html.twig
** File description:
**  This file is in charge of show data in article.html.twig
**
#}
{# index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
	<style type="text/css">
		.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  			background-color: white;
		}
		.article-container{
			padding: 1vw;
			background-color: #ffbf80;
			border-radius:15px;
			margin-top: 5vw;
			padding: 5vw;

		}
		.comment-container{
			background-color: lightgrey;
			margin-top: 1vw;
			border-radius:15px;
			padding: 1vw;
		}

		textarea{
			resize: none;
			border-radius: 10px;
		}

		.errorMessage{
      		color: red;
    	}


	</style>

	<div class="container article-container" align="center">
		<div class="header" align="left">
			<h5 id="article-title">{{ article.title }}</h5>
			<br>
			<span>Created by {{ article.created_by }}</span> on <span>{{ article.creation_date }}</span>
			<hr>
		</div>
		<div class="content" align="left">
			<article id="article-content">{{ article.content }}</article>
			<br>
		</div>
		{%  if article.creation_date != article.last_modification %}
			<div class="content" align="left">
				<span class="bg-dark" style="color:white;">Last modification: {{ article.last_modification }}</span>
				<br>
			</div>

		{% endif %}
		<br>
		{%  if session.get('username') == article.created_by or session.get('group_id') == 0 %}
			<div align="right">
				<button class="btn btn-success" id="saveArticleChanges">Save changes</button>
				<button class="btn btn-warning" id="editArticle">Edit article</button><br>
				<br><br>
				<form class="deleteForm" action="article-delete" method="POST">
					<input type="hidden" name="article_id" value="{{ article.article_id }}">
					<button type="submit" class="btn btn-danger">Delete article</button>
				</form>
			</div>
		{% endif %}
	</div>
	<br>
	<h6 class="container">Comments: </h6>
	{%  if comments|length == 0 %}
		<article class="container">There are no comments about this article yet.</article>
	{% else %}

		{% for comment in comments %}
			<div class="container comment-container" align="center">
				<article>{{ comment.content }}</article>
				<hr>
				<span style="opacity: 40%">Commented by {{ comment.commented_by }} on {{ comment.creation_date }}</span>
			</div>	    	
		{% endfor %}
	{% endif %}
	<br>
	{% if session.get('group_id') is not empty %}
		<div align="center">
			<span>Comment on this article:</span>
			<form action="/comment" method="POST">
		    	<textarea maxlength="500" cols="100" rows="5" name="comment"></textarea>
		    	<br>
		    	<input type="hidden" id="article_id" name="article_id" value="{{ article.article_id }}">
		    	<br>
		    	<div class="errorMessage" align="center">{{ error.get() | raw }}</div>
		    	<button type="submit" class="btn btn-primary" id="sendMessageButton">Comment</button>
	    	</form>
		</div>
	{% endif %}
	<br>
	<script type="text/javascript">
	$(function(){
		$("#saveArticleChanges").hide();
		$("#editArticle").on('click', function(){

			$("#saveArticleChanges").show();
			$("#article-title").replaceWith(function (){
				$(this).text();
				let value = $(this).text();
				return $("<textarea id='article-title' maxlength='50'cols='70' rows='1' type='text' value='" + value + "'>").append($(this).contents());
			});

			$("#article-content").replaceWith(function (){
				$(this).text();
				let value = $(this).text();
				return $("<textarea id='article-content' maxlength='500' cols='70' rows='10'  type='text' value='" + value + "'>").append($(this).contents());
			});
		});

		$("#saveArticleChanges").on('click', function(){
			$("#saveArticleChanges").hide();
			$("#article-title").replaceWith(function (){
				$(this).text();
				let value = $(this).text();
				return $("<h5 id='article-title' value='" + value + "'>").append($(this).contents());
			});
			$("#article-content").replaceWith(function (){
				$(this).text();
				let value = $(this).text();
				return $("<article id='article-content' value='" + value + "'>").append($(this).contents());
			});
		});

		$(".deleteForm").submit(function(event) {
			if(!confirm("Are you sure about deleting this article?")){
				event.preventDefault();
			}
		});

	});
	</script>
{% endblock %}