{#
** EPITECH PROJECT, 2020:
** MVC_Rush_PHP
**
** index.html.twig
** File description:
**  This file is in charge of show data in index.html.twig
**
#}
{# index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
	<style type="text/css">
		.container{
			margin-top: 5vw;
			padding: 5vw;
			background-color: #66a3ff;
			border-radius:15px;
		}
		.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  			background-color: white;
		}
		.article-container{
			padding: 1vw;
			background-color: #ffbf80;
			border-radius:15px;
		}


	</style>

	<div class="container my-container" align="center">
		<h1>Recent articles</h1>
		<br>
		{% for article in articlesList %}
			<div class="article-container">
				<div class="header" align="left">
					<h5>{{ article.title }}</h5>
					<span>Created by {{ article.created_by }}</span> on <span>{{ article.creation_date }}</span>
					<hr>
				</div>
				<div class="content" align="left">
					<article>{{ article.content }}...</article>
					<br>
				</div>
				<form action="/article" method="GET" align="right" target="_blank">
					<input  type="hidden" value="{{ article.article_id }}" name="id">
					<button type="submit" class="btn btn-primary" n>Read whole article</button>
				</form>
			</div>
			<br>
		{% endfor %}	
	</div>

{% endblock %}
